body{
    display: flex;
}
.container{
    margin-right: 50px;
}
#material,#piramide{
    width: 310px;
    border: 3px solid orange;
}
#piramide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.block{
    height: 50px;
    background-color: red;
    border: 2px solid darkred;
}
.active{
    background-color: royalblue;
    border: 2px solid blue;
}