body,html{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.container{
    text-align: center;
    background-image:url("background.jpg");
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 70px;
    background-size: cover;
    width: 600px;
}
h1,h2,h3{
    color: greenyellow;
}
h1{
    font-size: 4rem;
}
h2,input,button{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
button{
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(255, 132, 1, 0.85);
    color: #a100ff;
}