#container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
}
.pic{
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 2px solid red;
}
.pic{
    filter: grayscale(1) opacity(0.5);
}
.active{
    filter: grayscale(0) opacity(1);
}
.pic:nth-of-type(1){
    background: url("img/1.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(2){
    background: url("img/2.jpg") bottom;
    background-size: cover;
}
.pic:nth-of-type(3){
    background: url("img/3.jpg");
    background-size: cover;
}
.pic:nth-of-type(4){
    background: url("img/4.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(5){
    background: url("img/5.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(6){
    background: url("img/6.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(7){
    background: url("img/7.jpg");
    background-size: cover;
}
.pic:nth-of-type(8){
    background: url("img/8.jpg");
    background-size: cover;
}
.pic:nth-of-type(9){
    background: url("img/9.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(10){
    background: url("img/10.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(11){
    background: url("img/11.jpg") center;
    background-size: cover;
}
.pic:nth-of-type(12){
    background: url("img/12.jpg") center;
    background-size: cover;
}