body{
    display: flex;
}
#panel{
    border-right:2px solid black;
    border-bottom:2px solid black;
    padding: 10px;
}
#box{
    border: 2px solid red;
    width: 600px;
}
#brush>div{
    margin-bottom:15px;
}
.selected{
    box-shadow:0 0 0 6px orange;
}
.square{
    width: 70px;
    height: 70px;
    background-color: black;
}
.round{
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
}
#container{
    width: 120px;
    border: 2px solid black;
    display: flex;
    height: 120px;
}
#figure{
    margin: auto;
}