.figure{
    margin-left: auto;
}
#figures{
    display: flex;
    width: 200px;
    margin-bottom: 20px;
}
#box{
    width: 350px;
    height: 350px;
    border: 3px solid orange;
}
.square,.round{
    background-color: blue;
    width: 50px;
    height: 50px;
}
.round{
    border-radius:50%;
}
.triangle{
    width: 0;
    height: 0;
    background-color: transparent;
    border-style: solid;
    border-width: 0 25px 50px 25px;
    border-color: transparent transparent blue transparent;
}
.active{
    box-shadow: 0 0 0 5px orange;
}