body>div{
    display: flex;
}
[id $="Box"]{
    border: 2px solid black;
    font-weight: bold;
    margin-left: 15px;
}
#block{
    width: 500px;
    height: 500px;
    transform: rotate(0deg);
    background-color: green;
    border: 2px solid black;
}
#container{
    display: flex;
    justify-content: center;
}