body{
    display: flex;
}
table{
    border-collapse: collapse;
}
td{
    border: 2px dotted black;
    width: 100px;
    height: 100px;
}
#mixColor{
    border: 2px solid black;
    width: 450px;
    height: 300px;
    margin-left: 50px;
}
tr:first-of-type td:nth-of-type(1){
    background-color:darkred;
}
tr:first-of-type td:nth-of-type(2){
    background-color:red;
}
tr:first-of-type td:nth-of-type(3){
    background-color:orange;
}
tr:nth-of-type(2) td:nth-of-type(1){
    background-color:yellow;
}
tr:nth-of-type(2) td:nth-of-type(2){
    background-color:lawngreen;
}
tr:nth-of-type(2) td:nth-of-type(3){
    background-color:green;
}
tr:last-of-type td:nth-of-type(1){
    background-color:cyan;
}
tr:last-of-type td:nth-of-type(2){
    background-color:royalblue;
}
tr:last-of-type td:nth-of-type(3){
    background-color:darkblue;
}
.selected{
    border: 5px solid deeppink;
}