#container{
    width: 900px;
    height: 700px;
    border: 3px solid darkblue;
}
#box{
    width: 500px;
    height: 375px;
    border: 2px dashed blue;
    margin:150px 200px;
    background-image: url("img/picture.jpg");
    opacity: 70%;
}
.puzzle{
    position: absolute;
    width:125px;
    height: 125px;
    top: 10px;
    left: 10px;
}
.p-1{
    background-image: url("img/puzzle-1.jpg");
}
.p-2{
    background-image: url("img/puzzle-2.jpg");
}
.p-3{
    background-image: url("img/puzzle-3.jpg");
}
.p-4{
    background-image: url("img/puzzle-4.jpg");
}
.p-5{
    background-image: url("img/puzzle-5.jpg");
}
.p-6{
    background-image: url("img/puzzle-6.jpg");
}
.p-7{
    background-image: url("img/puzzle-7.jpg");
}
.p-8{
    background-image: url("img/puzzle-8.jpg");
}
.p-9{
    background-image: url("img/puzzle-9.jpg");
}
.p-10{
    background-image: url("img/puzzle-10.jpg");
}
.p-11{
    background-image: url("img/puzzle-11.jpg");
}
.p-12{
    background-image: url("img/puzzle-12.jpg");
}
